$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1440;
$maxWidthContainerMin: 1250;
$containerPadding: 20;
$containerPaddingSmall: 32;
$containerWidth: $maxWidthContainer + $containerPadding;

$mainColor: #000;
$white: #fff;
$gray: #999999;
$yellow: #F3D100;

$fontFamily: "Inter";
$fontSize: 16px;

$minWidth: 320px;